{% load static %}
<div class="container px-4 py-5">
  <h3 class="pb-2 text-center text-muted">How It Works</h3>
  <div class="row">
    <div class="col align-items-center d-flex flex-column border mx-2 px-5 mt-2 rounded-3">
      <div class="feature-icon py-2">
        <img src="{% static '../static/images/search-online.svg' %}" />
      </div>
      <h5 class="text-muted">Find Businesses</h5>
      <p class="text-center text-muted">Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
    </div>
    <div class="col align-items-center d-flex flex-column border mx-2 px-5 mt-2 rounded-3">
      <div class="feature-icon py-2">
        <img src="{% static '../static/images/find-listing.svg' %}" />
      </div>
      <h5 class="text-muted">Review Options</h5>
      <p class="text-center text-muted">Get valuable insights about listings and tell other readers about your experiences by leaving reviews for businesses..</p>
    </div>
    <div class="col align-items-center d-flex flex-column border mx-2 px-5 mt-2 rounded-3">
      <div class="feature-icon py-2">
        <img src="{% static '../static/images/make-online-booking.svg' %}" />
      </div>
      <h5 class="text-muted">Make Purchases</h5>
      <p class="text-center text-muted">Easily setup an appointment directly from the business listing page using our integrated booking options.</p>
    </div>
  </div>
</div>